{% extends "inc/base.html" %}

{% block content %}
<form class="ask-box">
  <label class="row-form-label login-label-title">Log In</label>
  <div class="form-group row ml-2 mt-3">
    <label for="inputLogin" class="col-sm-2 col-form-label font-weight-bold">Login</label>
    <div class="col-sm-10">
      <input type="text" class="form-control is-invalid" id="inputLogin" maxlength="20" aria-describedby="inputLoginFeedback" placeholder="Enter your login here" required>
      <div id="inputLoginFeedback" class="invalid-feedback">
        Login shouldn't be empty!
      </div>
    </div>
  </div>
  <div class="form-group row ml-2 mt-3">
    <label for="inputPassword" class="col-sm-2 col-form-label font-weight-bold">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control is-invalid" id="inputPassword" maxlength="32" aria-describedby="inputPassword" placeholder="Enter your password here" required>
      <div id="inputPasswordFeedback" class="invalid-feedback">
        Sorry, wrong password!
      </div>
    </div>
  </div>
  <div class="form-group row ml-2 mt-3">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-10">
      <button type="submit" class="btn btn-dark">Log In!</button>
    </div>
  </div>
</form>
<div class="row ml-2 mt-4">
  <div class="col-sm-2"></div>
  <div class="col-sm-10">
    <a href="#">Create new account</a>
  </div>
</div>
{% endblock %}
