{% extends "inc/base.html" %}

{% block content %}

<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <div class="row question-box-main">
      {% include "inc/question_box.html" %}
    </div>
  </li>
  <li class="list-group-item">
    {% for entity in answers %}
    <div class="row answer-box">
      {% include "inc/question_box.html" %}
    </div>
    {% endfor %}
  </li>
  <li class="list-group-item">
    <div class="container answer-form mt-3">
      <div class="form-group">
        <textarea class="form-control" id="answerForm" rows="3" placeholder="Enter Your answer here"></textarea>
        <button type="button" class="btn btn-dark mt-3">Answer!</button>
      </div>
    </div>
  </li>
</ul>

{% endblock %}
