{% extends "inc/base.html" %}

{% load static %}

{% block content %}
<form class="ask-box">
  <label class="row-form-label settings-label-title">Settings: PingGuy</label>
  <div class="form-group row ml-2 mt-3">
    <label for="inputLoginTitle" class="col-sm-4 col-form-label font-weight-bold">Login</label>
    <div class="col-sm-5">
      <input type="text" class="form-control is-invalid" id="inputLoginTitle" maxlength="20" aria-describedby="inputLoginTitleFeedback" value="ping_guy" required>
      <div id="inputQuestionLoginFeedback" class="invalid-feedback">
        Login should'n be empty!
      </div>
    </div>
  </div>
  <div class="form-group row ml-2 mt-3">
    <label for="inputEmailText" class="col-sm-4 col-form-label font-weight-bold">Email</label>
    <div class="col-sm-5">
      <input type="email" class="form-control is-invalid" id="inputEmailText" aria-describedby="inputEmailTextFeedback" value="pingguy@doggy.de" required>
      <div id="inputEmailTextFeedback" class="invalid-feedback">
        Incorrect email!
      </div>
    </div>
  </div>
  <div class="form-group row ml-2 mt-3">
    <label for="inputNickname" class="col-sm-4 col-form-label font-weight-bold">Nickname</label>
    <div class="col-sm-5">
      <input type="text" class="form-control is-invalid" id="inputNickname" maxlength=20 aria-describedby="inputNicknameFeedback" value="PingGuy" required>
      <div id="inputNicknameFeedback" class="invalid-feedback">
        Incorrect nickname!
      </div>
    </div>
  </div>
  <div class="form-group row ml-2 mt-3">
    <label for="uploadAvatar" class="col-sm-4 col-form-label font-weight-bold">Upload avatar</label>
    <div class="col-sm-5">
      <div class="d-flex flex-column">
        <div class="d-flex">
          <img class="user-avatar-settings" src="{% static "img/qimg.jpg" %}">
        </div>
      </div>
      <div class="d-flex flex-column mt-3">
        <!-- <input type="text" class="form-control" id="uploadAvatar" maxlength=20 aria-describedby="uploadAvatarFeedback" required> -->
        <div class="form-group">
          <input type="file" class="form-control-file is-invalid" id="uploadAvatarSettings" accept="image/*">
          <div id="inputNicknameFeedback" class="invalid-feedback">
            File is not an image!
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row ml-2 mt-3">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-5">
      <button type="submit" class="btn btn-dark">Save</button>
    </div>
  </div>
</form>
{% endblock %}
