/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.question-box {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 20px;
}

.question-box-main {
  margin-top: 30px;
  margin-bottom: 30px;
//  border: 1px solid gray;
//  border-radius: 20px;
  padding: 20px;
}

.answer-box {
  margin-top: 30px;
  margin-bottom: 30px;
//  border: 1px solid gray;
//  border-radius: 20px;
  padding: 20px;
}

.question-img {
  max-width: 150px;
  border: 1px solid lightgrey;
  border-radius: 360px;
}

.answer-img {
  max-width: 150px;
  border: 1px solid lightgrey;
  border-radius: 360px;
}

.question-title {
  font-size: 20px;
  font-weight: bold;
}

.question-text {
  max-height: 210px; 
}

.answer-text {
  max-height: 400px;
}

.question-text-main {
  max-height: 400px; 
}

.question-footer {
}

.tag-box {
  margin-top: 30px;
  margin-left: 100px;
}

.tag-title {
  font-weight: bold;
  font-size: 30px;
}

.tag-text-box {
  margin-top: 30px;
}

.tag-text {
  margin-left: 6px;
  margin-top: 6px;
  font-size: 20px;
  font-style: italic;
}

.members-title {
  margin-top: 30px;
  font-weight: bold;
  font-size: 30px;
}

.members-group {
  margin-top: 30px;
}

.nav-ask-button {
  margin-right: 35px;
}

.likes-counter {
  max-width: 70px;
}

.media .user-avatar {
  border: 1.5px solid green;
  max-height: 38px;
}

.user-avatar-settings {
  border: 1.5px solid green;
  max-height: 200px;
}

.paginator-box {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 10px;
}

.ask-box {
  margin-top: 30px;
}

.ask-label-title {
  font-size: 30px;
  font-weight: bold;
}

.settings-label-title {
  font-size: 30px;
  font-weight: bold;
}

.login-label-title {
  font-size: 30px;
  font-weight: bold;
}

.signup-label-title {
  font-size: 30px;
  font-weight: bold;
}

.like-button .list-group-item {
    padding: .25rem .70rem;
}
