{% load static %}

<div class="media">
  <div class="mr-3 ml-3">
    <div class="row">
      <img src="{% static "img/qimg.jpg" %}" class="mr-3 question-img" alt="...">
    </div>
    <div class="row mt-3 ml-4">
      <div class="list-group like-button">
        <a href="#"class="list-group-item list-group-item-action text-center">▲</a>
        <div class="list-group-item text-center text-truncate likes-counter">{{ entity.rating }}</div>
        <a href="#" class="list-group-item list-group-item-action text-center">▼</a>
      </div>
    </div>
  </div>
  <div class="media-body">
    {% if not single_page %}
    <h5><a href="{% url 'question' entity.id %}" class="mt-0 question-title">{{ entity.title }}</a></h5>
    {% else %}
    <h5>{{ entity.title }}</h5>
    {% endif %}
    {% if not single_page %}
    <div class="question-text overflow-hidden">{{ entity.text }}</div>
    {% else %}
    <div class="question-text overflow-auto">{{ entity.text }}</div>
    {% endif %}
    {% if not entity.title %}
      <div class="d-flex justify-content-start mt-4">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="CorrectCheck{{ entity.id }}">
          <label class="form-check-label" for="CorrectCheck{{ entity.id }}">Correct!</label>
        </div>
      </div>
    {% endif %}
  </div>
</div>
{% if entity.answers != None or entity.tag.all %}
  <div class="container d-flex justify-content-end question-footer">
  {% if entity.answers != None and not single_page %}
    <a href="{% url 'question' entity.id %}" class="mr-3">answers({{ entity.answers }})</a>
  {% endif %}

  {% if entity.tag.all %}
    <span class="mr-2">Tags: </span>
  {% endif %}

  {% for tag in entity.tag.all %}
    <a href="{% url 'tag' tag.text %}">{{ tag.text }}</a>
    {% if not forloop.last %}
      <span>,&nbsp;</span>
    {% endif %}
  {% endfor %}
  </div>
{% endif %}
